.artCadastro{
    background-color: #2C87F0;
    min-height: 70vh;
    width: 70vw;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    
}

.mnContender{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.divInput{
    display: flex;
    margin-bottom: 5vh;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    color: #fff;
    flex-shrink: 0; /* impede que o botão encolha */
    align-items: center;
}

#h1Titulo{
    margin-bottom: 10vh;
    font-family: 'Lato  ', sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.formInput{
    all: unset;
    background-color: rgb(226, 226, 226);
    border-radius: 20000px;
    font-size: 20px;
    padding: 5px;
    padding-left: 15px;
    height: 37%;
    color: black;
}

.lbInput{
    font-size: 200%;
}

.spEnviar{
    margin-left: -4px;
}

.divGrid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "lbCpf inpCpf"
    "lbNome inpNome";
}

#lbCpf{
    grid-area: lbCpf;
}

#inpCpf{
    grid-area: inpCpf;
}

#lbNome{
    grid-area: lbNome;
}

#inpNome{
    grid-area: inpNome;
}

#data{
    width: 10px;
    all: unset;
    background-color: rgb(226, 226, 226);
    border-radius: 20000px;
    padding: 5px;
    padding-left: 10px;
    color: black;
    height: 20px;
}

.divInputData{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.margem_alerta{
    margin-top: 16px;
}




button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3d405b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 15px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

.box {
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    background: #2C87F0;
    overflow: hidden;

}

.box:before {
    content: "W";
    position: absolute;
    top: 0;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
}

.box:nth-child(1)::before {
    transform: translateY(100%);
    content: 'U';
}

.box:nth-child(2)::before {
    transform: translateY(-100%);
    content: 'S';
}

.box:nth-child(3)::before {
    content: 'U';
}

.box:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'Á';
}

.box:nth-child(5)::before {
    content: 'R';
}

.box:nth-child(6)::before {
    transform: translateY(-100%);
    content: 'I';
}

.box:nth-child(7)::before {
    content: 'O';
}

.box:nth-child(8)::before {
    transform: translateY(-100%);
    content: 'S';
}


.button:hover .box:before {
    transform: translateY(0);
}

.button {
    display: flex;
    margin: 30px;
}

