<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/presenca.css">

</head>
<body>
    <main class="mnContender">
        <article class="artCadastro">
            <a href="" class="button">
                <div class="box">P</div>
                <div class="box">R</div>
                <div class="box">E</div>
                <div class="box">S</div>
                <div class="box">E</div>
                <div class="box">N</div>
                <div class="box">T</div>
                <div class="box">E</div>
                <div class="box"></div>
                <div class="box">H</div>
                <div class="box">O</div>
                <div class="box">J</div>
                <div class="box">E</div>
            </a>
            <table class="tbDados">
                <tr>
                    <th>5555</th>
                </tr>
            </table>

        </article>
    </main>
</body>
</html>